@model OnlineTicariOtomasyon.Models.Class.Current
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<br />
<h2>Online Ticari Otomasyon Cari Bilgi Paneli</h2>

@using (Html.BeginForm("Index2", "CariPanel", FormMethod.Post))
            {
                <table class="table table-hover">
                    <tr>
                        <td><label>Mail Adresi: @HttpContext.Current.User.Identity.Name</label></td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(x => x.CurrentName, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(x => x.CurrentSurname, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(x => x.CurrentCity, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(x => x.CurrentPassword, new { @class = "form-control" })</td>
                    </tr>
                </table>
            }