@using OnlineTicariOtomasyon.Models.Class
@model List<SalesStatus>
@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cari Adı: @ViewBag.cari</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Ürün</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Product.ProductName</td>
            <td>@item.Employee.EmployeeName @item.Employee.EmployeeSurname</td>
            <td>@item.Price ₺</td>
            <td>@item.Piece</td>
            <td>@item.TotalPrice ₺</td>
            <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
            <td><a href="#" class="btn btn-outline-secondary">Yazdır</a></td>
        </tr>
    }
</table>
<a href="/Current/Index/" class="btn btn-outline-dark">Geri</a>