@using OnlineTicariOtomasyon.Models.Class
@model List<Bill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover" style="margin-top:20px">
    <tr>
        <th>Seri Sıra No</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Popup Liste</th>
        <th>Yeni Kalem</th>

    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.BillSerialNo @item.BillSequenceNo</td>
            <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
            <td>@item.Clock</td>
            <td>@item.Total ₺</td>
            <td><a href="/Fatura/FaturaGetir/@item.BillID" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@item.BillID" class="btn btn-outline-info">Detaylar</a></td>
            <td><a href="/Fatura/FaturaDetay/@item.BillID" class="btn btn-outline-primary">Popup Liste</a></td>
            <td><a href="/Fatura/FaturaDetay/@item.BillID" class="btn btn-outline-secondary">Yeni Kalem</a></td>

        </tr>
    }
</table>
<a href="/Fatura/FaturaEkle" class="btn btn-outline-success">Yeni Fatura Girişi</a>
<br />
<br />
<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Popup Diyalog Ekranı</h2> 
            </div>
        </div>
    </div>
</div>