@using OnlineTicariOtomasyon.Models.Class
@model List<Bill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>

    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.BillID</td>
            <td>@item.BillSerialNo</td>
            <td>@item.BillSequenceNo</td>
            <td>@item.TaxAdministration</td>
            <td>@item.Date</td>
            <td>@item.Clock</td>
            <td>@item.Deliverer</td>
            <td>@item.DeliveryArea</td>
            <td>@item.Total</td>
            <td><a href="/Fatura/FaturaGetir/@item.BillID" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@item.BillID" class="btn btn-outline-info">Detaylar</a></td>

        </tr>
    }
</table>
<a href="/Fatura/FaturaEkle" class="btn btn-outline-success">Yeni Fatura Girişi</a>