@using OnlineTicariOtomasyon.Models.Class
@model List<Employee>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı: @ViewBag.d</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    @foreach(var item in Model)
            {

    <tr>
        <td>@item.EmployeeID</td>
        <td>@item.EmployeeName</td>
        <td>@item.EmployeeSurname</td>
        <td>@item.EmployeeImage</td>
        <td><a href="#" class="btn btn-outline-secondary">Satışlar</a></td>
    </tr> 
    }
</table>
<a href="/Department/Index/" class="btn btn-outline-dark">Geri</a>